#result{
    background-color: black;
    color: white;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
